<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.model.Commodity" alias="Commodity" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/CommodityMapper.xml" />
		<mapper resource="mybatis/AccountMapper.xml" />
	</mappers>
</configuration>